.about-me{
    padding: 100px 0;
    .image{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            border: 15px solid lighten($secondary-color,40%);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    .content{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            left: -40px;
            top: -30px;
            width: 20%;
            height: calc(100% + 60px);
            background: lighten($secondary-color,40%);
            z-index: -1;
        }
        h4{
            font-size: 2.1875rem;
            color: $black;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            margin-bottom: 20px;
        }
        h6{
            font-size: 1.125rem;
            color: #444444;
            margin-bottom: 15px;
            span{
                color:$primary-color;
            }
        }
        p{
            margin-bottom: 15px;
            line-height: 28px;
            &:last-child{
                margin-bottom: 20px;
            }
        }
        a{
            max-width: 180px;
        }
    }
}
@media only screen and(max-width:992px){
    .about-me{
        padding: 50px 0;
        .content{
            &::after{
                display: none;
            }
        }
    }
}