.testimonial{
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    &::after{
        position: absolute;
        content: url(../image/circle.svg);
        width: 700px;
        height: 700px;
        top: 50%;
        transform: translateY(-50%);
        left: -200px;
        animation-name: testimonialAnim;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
    .global-heading{
        margin-bottom: 30px;
    }
    .client-box{
        padding: 50px 25px 40px 44px;
        background: rgb(255, 255, 255);
        margin: 20px;
        border-radius: 5px;
        box-shadow: 5px 2px 20px 0px rgba(255, 255, 255, 0.14);
        .client-com{
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;
            img{
                width: 35px;
                height: 35px;
                margin-right: 30px;
            }
            p{
                font-size: 15px;
                line-height: 24px;
            }
        }
        .client-details{
            display: flex;
            align-items: center;
            margin-left: 30px;
            img{
                width: 80px;
                border-radius: 50%;
            }
            .text{
                margin-left: 20px;
                h6{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $black;
                    font-size: 18px;
                }
                p{
                    line-height: 24px;
                }
            }
        }
    }
    .owl-nav{
        margin-top: 40px;
    }
    .owl-carousel .owl-nav button{
        width: 40px;
        height: 40px;
        position: relative;
        &:hover{
            background: none;
        }
        &:focus{
            outline: none;
        }
        i{
            font-size: 20px;
            color: #fff;
            line-height: 40px;
        }
        &.owl-prev{
            margin-right: 10px;
            &::after{
                position: absolute;
                content: url(../image/prev-nav.svg);
                width: 50px;
                height: 50px;
                top: 50%;
                right: 50%;
                transform: translate(50%,-50%);
                z-index: -1;;
            }
        }
        &.owl-next{
            margin-left: 10px;
            &::after{
                position: absolute;
                content: url(../image/next-nav.svg);
                width: 50px;
                height: 50px;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                z-index: -1;;
            }
        }
    }
}
@keyframes testimonialAnim{
    0%{
        transform: translateY(-50%) rotate(0deg);
    }
    100%{
        transform: translateY(-50%) rotate(360deg);
    }
}
@media screen and(max-width:992px){
    .testimonial{
        padding: 50px 0;
        &::after{
            display: none;
        }
    }
}
@media screen and(max-width:576px){
    .testimonial{
        .client-box{
            padding: 20px 15px;
            .client-com{
                img{
                    display: none;
                }
            }
            .client-details{
                margin-left: 0;
            }
        }
    } 
}