.skills{
    padding: 100px 0;
    .skill-wrapper{
        margin-bottom:30px;
        span {
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .progress{
            width: 100%;
            height: 6px;
            .progress-bar {
                background: $primary-color;
                &.progressbar-active{
                    animation-name: progress;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    animation-delay: 0.4s;
                    @keyframes progress{
                        0%{
                            width:0;
                        }
                        100%{
                            width:100%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and(max-width:992px){
    .skills{
        padding: 50px 0;
    }
}